<div class="container mt-4 mx-auto">
  <div
    class="max-w-2xl w-full lg:flex px-2 mx-auto"
    *ngIf="playerInfos; else spinner"
  >
    <div
      class="h-64 lg:h-auto lg:w-64 flex-none border border-t border-l border-b border-gray-400 bg-cover rounded-t lg:rounded-t-none lg:rounded-l overflow-hidden "
      title="{{ playerInfos.teamName }}"
    >
      <img
        src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{{
          playerId
        }}.png"
        alt="{{ playerInfos.displayFirstLast }}"
        class="object-cover object-center block mx-auto"
      />
    </div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between w-full leading-normal"
    >
      <div class="mb-8">
        <div
          class="text-gray-900 font-bold text-xl mb-2 text-center lg:text-left"
        >
        {{ playerInfos.displayFirstLast }}
        </div>

        <div class="text-sm text-gray-600 text-center lg:text-left">
          <a [routerLink]="[ '/teams', playerInfos.teamId ]">
          <img
            src="{{ nba.getImage(playerInfos.teamId) }}"
            alt="{{ playerInfos.teamName }}"
            class="object-cover object-center block h-12 mx-auto lg:mx-0"
          />{{ playerInfos.teamName }}
        </a>
          <span class="text-blue-700 text-base" *ngIf="playerInfos.jersey">
            #{{ playerInfos.jersey }}</span
          >
        </div>
        <div *ngIf="headlineStats">
          <h3 class="mt-4 text-center lg:text-left">
            {{ headlineStats.timeFrame }} stats
          </h3>
          <div class="flex justify-center lg:justify-start mx-auto">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs sm:text-sm font-semibold text-gray-700 mr-2"
            >
              {{ headlineStats.pts }} pts
            </span>
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs sm:text-sm font-semibold text-gray-700 mr-2"
            >
              {{ headlineStats.reb }} reb
            </span>
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs sm:text-sm font-semibold text-gray-700 mr-2"
            >
              {{ headlineStats.ast }} ast
            </span>
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs sm:text-sm font-semibold text-gray-700 mr-2"
            >
              {{ (headlineStats.pie * 100).toFixed(2) }} pie
            </span>
          </div>
          <ul class="mt-4 mx-auto lg:mx-0 w-3/4 lg:w-full text-center lg:text-left text-sm lg:text-base">
            <li *ngIf="playerInfos.height &&
            playerInfos.weight">
              {{ playerInfos.height }}, {{ playerInfos.weight }}
              <span class="text-sm">lbs</span>
            </li>
            <li>
              <span class="font-bold">Position</span>:
              {{ playerInfos.position }}
            </li>
            <li>
              <span class="font-bold">Draft</span>: {{ playerInfos.draftYear }},
              pick {{ playerInfos.draftNumber }}, round
              {{ playerInfos.draftRound }}
            </li>
            <li>
              <span class="font-bold">Country</span>: {{ playerInfos.country }}
            </li>
            <li>
              <span class="font-bold">Birth</span>:
              {{ playerInfos.birthdate | date: medium }} ({{getAge(playerInfos.birthdate)}} y/o)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <div class="mx-auto w-16 mt-16">
      <app-half-circle-spinner
        [animationDuration]="1000"
        [size]="60"
        [color]="'#2C6CB0'"
      ></app-half-circle-spinner>
    </div>
  </ng-template>
</div>
