<nav class="flex items-center justify-between flex-wrap bg-blue-700 p-4">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a class="font-semibold text-xl tracking-tight" [routerLink]="['/']"
      >Nba stats</a
    >
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-blue-200 border-blue-400 hover:text-white focus:outline-none"
      (click)="toggleNavigation()"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div
    class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
    [ngClass]="{ hidden: hideNav }"
  >
    <div class="text-sm lg:w-1/3">
      <a
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
        [routerLink]="['/teams']"
      >
        Teams
      </a>
    </div>
    <div class="text-sm lg:w-1/3 text-white">
      <div class="relative w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg
            class="fill-current pointer-events-none text-blue-200 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          class="w-full px-3 py-2 pl-8 rounded bg-blue-800 focus:outline-none"
          placeholder="Search a player"
          (change) = "findPlayer($event)"
        />
      </div>
    </div>
  </div>
</nav>
