<div class="container mx-auto mt-4 mb-2" *ngIf="teamInfoCommon; else spinner">
  <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto mt-2">
    <img
      class="block mx-auto h-32 pt-2"
      [src]="nba.getImage(teamInfoCommon.teamId)"
      alt="{{ teamInfoCommon.teamName }}"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl text-center mb-2">
        {{ teamInfoCommon.teamCity }} {{ teamInfoCommon.teamName }}
      </div>
      <div class="text-gray-700 text-center">
        <span
          *ngIf="coach"
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >Coach: {{ coach.firstName }} {{ coach.lastName }}</span
        >
      </div>
    </div>
    <div class="px-6 py-4 text-center">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        >{{ teamInfoCommon.teamConference }} Conference</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        >{{ teamInfoCommon.teamDivision }} Division</span
      >
    </div>
  </div>

  <div class="mt-4 flex md-2 mx-2">
    <table class="border border-gray-200 rounded-lg w-full md:w-2/3 mx-auto">
      <thead class="bg-gray-200">
        <tr class="">
          <th
            class="border-collapse pl-4 py-4 uppercase text-gray-700 text-sm tracking-widest text-left"
          >
            Jersey
          </th>
          <th
            class="border-collapse pl-4 py-4 uppercase text-gray-700 text-sm tracking-widest text-left"
          >
            Name
          </th>
          <th
            class="border-collapse pl-4 py-4 uppercase text-gray-700 text-sm tracking-widest text-left"
          >
            Infos
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let player of roster"
          class="text-sm border border-b border-gray-200"
        >
          <td>
            <span
              *ngIf="player.num"
              class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white ml-2"
              >#{{ player.num }}</span
            >
          </td>
          <td class="w-1/3">
            <a
              [routerLink]="['/players', player.playerId]"
              class="p-4 inline-block text-blue-700"
              >{{ player.player }}</a
            >
          </td>
          <td class="pl-4 w-1/3">
            <span class="inline-block"
              >{{ player.height }}, {{ player.weight }} lbs</span
            >
            <br />
            <span class="inline-block text-blue-700">{{ player.age }} y/o</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #spinner>
  <div class="mx-auto w-16 mt-16">
    <app-half-circle-spinner
      [animationDuration]="1000"
      [size]="60"
      [color]="'#2C6CB0'"
    ></app-half-circle-spinner>
  </div>
</ng-template>
