<div class="container mx-auto">
  <div
    class="flex flex-wrap justify-between w-full mx-auto"
    *ngIf="teams; else spinner"
  >
    <div *ngFor="let team of teams" class="md:w-1/4 w-full m-2">
      <a [routerLink]="['/teams', team.teamId]">
        <img
          [src]="nba.getImage(team.teamId)"
          alt="{{ team.teamName }}"
          title="{{ team.teamName }}"
          class="h-48 block mx-auto object-contain object-center"
        />
      </a>
    </div>
  </div>
  <ng-template #spinner>
    <div class="mx-auto w-16 mt-16">
      <app-half-circle-spinner
        [animationDuration]="1000"
        [size]="60"
        [color]="'#2C6CB0'"
      ></app-half-circle-spinner>
    </div>
  </ng-template>
</div>
